/* Romove the watermark */
.mapboxgl-ctrl-logo,
.mapboxgl-ctrl-bottom-right {
	display: none !important;
}

/* The user location dot */
.mapboxgl-ctrl,
.mapboxgl-user-location-accuracy-circle {
	display: none !important;
}

.mapboxgl-user-location-dot,
.mapboxgl-user-location-dot::before,
.mapboxgl-user-location-dot::after {
	height: 12px !important;
	width: 12px !important;
	left: 0 !important;
	top: 0 !important;
	background-color: var(--Color-Primary, rgba(255, 255, 255, 0.95)) !important;
	border: 0px !important;
}

/* Initialization */
*:focus {
	outline: none;
	box-shadow: none;
}

/* Default: Dark mode */
:root {
	font-weight: 400;
	color-scheme: light dark;
	background-color: #242424;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	/* Content */
	--primary-text: rgba(255, 255, 255, 0.95);
	--secondary-text: rgba(255, 255, 255, 0.75);
	--tertiary-text: rgba(255, 255, 255, 0.5);
	--invert-primary: rgba(14, 13, 15);

	/* Base */
	--base: rgba(255, 255, 255, 0.09);
	--invert-base: rgba(0, 0, 0, 0.6);
	--button-base: rgba(255, 255, 255, 0.07);
	--solid-base: rgba(242, 242, 242);
	--invert-solid-base: rgba(14, 13, 15);

	/* Neutral color */
	--silver: rgba(185, 184, 215);
	--color-gray: #878280;
	--color-light-gray: #D1D7EB;
	--color-green: #24ad6e;
	--color-red: #f46060;

	/* Safe area */
	--safe-area-top: env(safe-area-inset-top);
	--safe-area-bottom: env(safe-area-inset-bottom);
	--safe-area-left: env(safe-area-inset-left);
	--safe-area-right: env(safe-area-inset-right);
}

/* Light mode */
.light {
	/* Content */
	--primary-text: rgba(0, 0, 0, 0.95);
	--secondary-text: rgba(0, 0, 0, 0.75);
	--tertiary-text: rgba(0, 0, 0, 0.5);
	--invert-primary: rgba(250, 250, 250);

	/* Base */
	--base: rgba(0, 0, 0, 0.09);
	--invert-base: rgba(255, 255, 255, 0.6);
	--button-base: rgba(0, 0, 0, 0.07);
	--solid-base: rgba(30, 30, 30);
	--invert-solid-base: rgba(250, 250, 250);
}

html,
body {
	/* Disables double-tap to zoom across the entire application */
	touch-action: manipulation;

	display: flex;
	place-items: center;
	min-width: 320px;
	min-height: 100%;
	width: 100%;

	/* Hide scroll */
	overflow-x: hidden;
	overflow-y: hidden;

	/* Font Family */
	font-family: 'Be Vietnam Pro', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

div {
	display: flex;
}

/* ---------- Responsive type tokens ---------- */
/* Breakpoints:
   Desktop: ≥1024px
   Tablet:  640–1023px
   Mobile:  441–639px
   App:     360–440px (base)
*/

:root {
	/* App (360–440) */
	--font-hero: 56px;
	--font-h1: 44px;
	--font-h2: 40px;
	--font-h3: 36px;
	--font-h4: 24px;

	--font-1st: 17px;
	--font-2nd: 15px;
	--font-3rd: 13px;
	--font-4th: 12px;
	--font-5th: 11px;
}

@media (min-width: 441px) {

	/* Mobile (441–639) */
	:root {
		--font-hero: 60px;
		--font-h1: 44px;
		--font-h2: 40px;
		--font-h3: 36px;
		--font-h4: 24px;

		--font-1st: 17px;
		--font-2nd: 15px;
		--font-3rd: 13px;
		--font-4th: 12px;
		--font-5th: 11px;
	}
}

@media (min-width: 640px) {

	/* Tablet (640–1023) */
	:root {
		--font-hero: 66px;
		--font-h1: 52px;
		--font-h2: 48px;
		--font-h3: 40px;
		--font-h4: 28px;

		--font-1st: 17px;
		--font-2nd: 16px;
		--font-3rd: 14px;
		--font-4th: 13px;
		--font-5th: 12px;
	}
}

@media (min-width: 1024px) {

	/* Desktop (≥1024) */
	:root {
		--font-hero: 72px;
		--font-h1: 64px;
		--font-h2: 56px;
		--font-h3: 44px;
		--font-h4: 32px;

		--font-1st: 18px;
		--font-2nd: 16px;
		--font-3rd: 15px;
		--font-4th: 13px;
		--font-5th: 12px;
	}
}

/* Font Styling */
._hero {
	font-size: var(--font-hero);
	font-style: normal;
	font-weight: 600;
	line-height: 1;
}

h1 {
	font-size: var(--font-h1);
	font-weight: 600;
	line-height: 1;
}

h2 {
	font-size: var(--font-h2);
	font-weight: 600;
	line-height: 1;
}

h3 {
	font-size: var(--font-h3);
	font-weight: 600;
	line-height: 1;
}

h4 {
	font-size: var(--font-h4);
	font-weight: 600;
	line-height: 1;
}

title {
	font-size: var(--font-1st);
	font-weight: 600;
	line-height: 1;
}

._subtitle {
	font-size: var(--font-2nd);
	font-weight: 600;
	line-height: 1;
}

/* Body1 */
p {
	font-size: var(--font-1st);
	font-style: 1;
	font-weight: 400;
	line-height: 24px;
}

._body2 {
	font-size: var(--font-2nd);
	font-style: 1;
	font-weight: 400;
	line-height: 22px;
}

._button-primary {
	font-size: var(--font-1st);
	font-style: 1;
	font-weight: 700;
	line-height: 24px;
}

._button-secondary {
	font-size: var(--font-2nd);
	font-style: 1;
	font-weight: 700;
	line-height: 22px;
}

.footnote {
	font-size: var(--font-4th);
	font-style: normal;
	font-weight: 400;
	line-height: 1;
}

._caption1 {
	font-size: var(--font-4th);
	font-style: normal;
	font-weight: 500;
	line-height: 1;
}

._caption2 {
	font-size: var(--font-5th);
	font-style: normal;
	font-weight: 500;
	line-height: 1;
}

/* ---------- Global Utility Tokens ---------- */
._divider {
	width: 100%;
	min-height: 1px;
	background: var(--base);
}

._stretch {
	flex: 1 0 0;
}

._color-primary {
	color: rgba(255, 255, 255, 0.95);
}

._color-secondary {
	color: rgba(255, 255, 255, 0.75);
}

._color-tertiary {
	color: rgba(255, 255, 255, 0.5);
}

._base-button {
	color: rgba(0, 0, 0, 0.07);
}

._base-button-hover {
	color: rgba(0, 0, 0, 0.14);
}