<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <!-- Required Permissions for Deejiar -->
	<key>NSAppTransportSecurity</key>
	<dict>
    <key>NSAllowsArbitraryLoads</key>
    <true/>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Deejiar</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleGetInfoString</key>
	<string>Privacy - Location </string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Deejiar uses your location to help you discover nearby cafés, shops, and cultural landmarks — and guide you to each one. Location is only used while you’re exploring, and never stored.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Deejiar uses your location to help you discover nearby cafés, shops, and cultural landmarks — and guide you to each one. Location is only used while you’re exploring, and never stored.</string>
	<key>NSLocationUsageDescription</key>
	<string>Deejiar uses your location to help you discover nearby cafés, shops, and cultural landmarks — and guide you to each one. Location is only used while you’re exploring, and never stored.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Deejiar uses your location to help you discover nearby cafés, shops, and cultural landmarks — and guide you to each one. Location is only used while you’re exploring, and never stored.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>Deejiar uses your device identifier to measure installs and subscriptions performance. We do not sell your data, and tracking is only used to improve your app experience.</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
