# Dependency directories
node_modules
.yarn

# Build and distribution
dist
dist-ssr

# Environment and sensitive data
.env.dev
.env.product
localhost.crt
localhost.key

# Env
.env

# Logs and debug files
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS-specific files
.DS_Store

# Editor-specific files and directories
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Miscellaneous
*.local
.gitignore
